{% extends 'nt_training/base.html' %}
{% block title %}About{% endblock %}

{% block content %}

<div class="row mb-4">
	<div class="col">
		<h1 class="text-center">About Nottingham New Theatre's Training</h1>
		<h4 class="text-center text-muted">Easily see anyone's training, and anything that can be trained, at any time.</h4>
	</div>
</div>

<div class="row">
	<div class="col">
		<h3>Why does this exist?</h2>
		<p>The Nottingham New Theatre's training records have been stored in various different paper systems for as many years as the theatre has had training. This website provides a way to search through that, browse  easily, and be more accessible than a binder of paper in the tech box or the workshop.</p>
		<p>Whether you're an experienced techie, a seasoned pro with a drill, a director, brand new to the theatre, or anything in between, this website will hopefully give you a better idea of how tech and the workshop at the theatre works, and serve as a reminder for anything you've forgotten.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col">
		<h3>What's so good about training?</h2>
		<p>Being trained in something gives everyone - fellow backstage people, as well as directors, producers, and so on - something to see how you're getting on. If you're looking to become a lighting designer, or want to get involved with the designing and construction of set, having the training ticked off is a sure fire way to let everyone know you know your stuff.</p>
		<p>We try to make training as fun and practical as we can so that everyone involved enjoys themselves as much as we enjoy doing the shows themselves. (Or at least almost that much.)</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-12 col-sm-6">
		<h3>Want to be trained in something?</h2>
		<p>Just ask! The TD or TM are happy to explain pretty much any area of tech to anyone who asks, provided we're not already up a ladder with five minutes until the show opens! The Workshop Managers are also around regularly, so feel free to ask them about training or getting involved.</p>
	</div>
	<div class="col-12 col-sm-6">
		<h3>Has your training record got gaps?</h2>
		<p>Just speak to the Company Technical Director or Technical Manager about the areas of tech you think you should be signed off on or the Workshop Managers about the things in the workshop you want to learn. They'll ask you a few questions to check you know your stuff - fairly informally, don't worry - and fill in any gaps for you. The relevant committee members will happily go through training records with people, just ask.</p>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-12 col-sm-4">
		<h2>Useful Links</h2>
		<ul class="list-unstyled ml-4">
			<li><a class="clickme nocolor" href="https://www.facebook.com/groups/nnt.tech/"><i class="fa fa-fw  nt-purple fa-facebook" aria-hidden="true"></i>&nbsp;Tech @ Nottingham New Theatre</a></li>
			<li><a class="clickme nocolor" href="http://newtheatre.org.uk/about/technical"><i class="fa fa-fw nt-purple fa-info-circle" aria-hidden="true"></i>&nbsp;New Theatre Technical Info</a></li>
			<li><a class="clickme nocolor" href="http://history.newtheatre.org.uk"><i class="fa fa-fw nt-purple fa-book" aria-hidden="true"></i>&nbsp;New Theatre History Site</a></li>
			<li><a class="clickme nocolor" href="https://github.com/newtheatre/nt-training"><i class="fa fa-fw nt-purple fa-github" aria-hidden="true"></i>&nbsp;Training Site Github Repository</a></li>
		</ul>
	</div>
	<div class="col-12 col-sm-4">
		<h2>Get In Touch</h2>
		<ul class="list-unstyled ml-4">
			<li><a class="clickme nocolor" href="mailto:techdirector@newtheatre.org.uk"><i class="fa fa-fw nt-purple fa-envelope" aria-hidden="true"></i>&nbsp;Company Technical Director</a></li>
			<li><a class="clickme nocolor" href="mailto:techmanager@newtheatre.org.uk"><i class="fa fa-fw nt-purple fa-envelope" aria-hidden="true"></i>&nbsp;Technical Manager</a></li>
			<li><a class="clickme nocolor" href="mailto:workshop@newtheatre.org.uk"><i class="fa fa-fw nt-purple fa-envelope" aria-hidden="true"></i>&nbsp;Workshop Managers</a></li>
		</ul>
	</div>
	<div class="col-12 col-sm-4">
		<h2>Come on in!</h2>
		<address class="ml-4">The Nottingham New Theatre<br />
		Cherry Tree Hill, University Park<br />
		Nottingham, NG7 2RD</address>
	</div>
</div>


{% endblock %}