{% extends 'nt_training/base.html' %}
{% load nt_spec %}
{% load nt_navbar %}
{% block title %}People{% endblock %}

{% block content %}


<div class="row">
	<div class="col">
		<h1 class="text-center">People</h1>

		<p class="text-center">Can't see your name? Drop the <a href="mailto:ctd@newtheatre.org.uk">Company Technical Director</a> or <a href="mailto:workshop@newtheatre.org.uk">Company Master Carpenter</a> an email to get started. <br />
	</div>
</div>
{% if not people %}
	<p class="text-center text-muted"><i class="fa fa-info-circle fa-fw"></i>&nbsp; There aren't any people.</p>
{% else %}
	{% include 'nt_training/include/people-list.html' %}	
{% endif %}

{% endblock %}

