{% extends 'nt_training/base.html' %}
{% load nt_spec %}
{% load nt_navbar %}
{% block title %}People{% endblock %}

{% block content %}


<div class="row">
	<div class="col">
		<h1 class="text-center">People</h1>

		<p class="text-center">Can't see your name? {% if departments %}Drop the {% for p in departments %}{% if forloop.last and not forloop.first %}or {% endif %}<a href="mailto:{{ p.email }}">{{ p.person }}</a>{% if not forloop.last %}, {% endif %}{% endfor %} an email{% else %}<a href="mailto:tech@newtheatre.org.uk">Drop us an email</a>{% endif %} to get started.
	</div>
</div>
{% if not people %}
	<p class="text-center text-muted"><i class="fa fa-info-circle fa-fw"></i>&nbsp; There aren't any people.</p>
{% else %}
	{% include 'nt_training/include/people-list.html' %}	
{% endif %}

{% endblock %}

