{% extends 'nt_training/base.html' %}
{% load nt_spec %}
{% load nt_navbar %}
{% block title %}People{% endblock %}

{% block content %}


<div class="row">
	<div class="col">
		<h1 class="text-center">People</h1>

		<p class="text-center">Can't see your name? Drop the <a href="mailto:ctd@newtheatre.org.uk">Company Technical Director an email</a> to get started. <br />
	</div>
</div>

{% include 'nt_training/include/people-list.html' %}



<!-- 
<h2>Option 2:</h2>
<div class="row">
	<div class="col-xs-12">
		<table>
			<tr>
				<td>Quick Filters:&nbsp;</td>
				{% comment %}
					<td><strong>Categories:</strong> 
					{% cat_items as cats %}
					{% for cat in cats %}<a id="filter{{ cat|title }}" title="{{ cat|title }}" class="filter label label-secondary">{{ cat|title }}</a>&nbsp;{% endfor %}</td>
			<tr>
				<td></td>
				{% endcomment %}
				<td>
					<a id="filterStudent" title="Student" class="filter label label-secondary">Student</a>&nbsp;
					<a id="filterGraduate" title="Graduate" class="filter label label-secondary"><i class="fa fa-fw fa-graduation-cap"></i> Graduate</a>&nbsp;
					<a id="filterUnknown" title="Unknown" class="filter label label-secondary">Unknown</a>&nbsp;
					<a id="filterCommittee" title="Committee" class="filter label label-secondary"><i class="fa fa-fw fa-star"></i> Committee</a>&nbsp;
				</td>
			</tr>
			<tr>
				<td></td>
				<td><a class="filter label label-success" id="clearFilter"><i class="fa fa-times-circle fa-fw"></i>Clear all</a></td>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped table-hover" id="fullUserTable">
		  <thead>
		    <td><strong>People</strong></td>
		    <td><span class="hidden">Completed categories</span></td>
		    <td><span class="hidden">View record</span></td>
		  </thead>
		  <tbody>
		  {% for person in people %}
		  	<tr>
		  		<td class="">{{ person|title }} {% if person.status == 'GRAD' %}<i class="fa fa-fw fa-graduation-cap text-muted" aria-label="This person has graduated" title="This person has graduated"></i>{% endif %}<span class="hidden">{{ person.get_status_display|title }}{# Needed for datatable search #}</span>{% if person.committee == True %}<i class="fa fa-fw fa-committee fa-star"><span class="hidden">Committee</span></i>{% endif %}</td>
		  		<td>
		  		{% comment %}
			  		{% for dept in cats %}
		  				{% tech_status person dept as status %}
		  				{% if status == True %}
		  					<label class="label label-secondary">{{ dept }}</label>&nbsp;
		  				{% endif %}
			  		{% endfor %}
		  		{% endcomment %}  	

		  		</td>
		  		<td>
		  			<a href="{% url 'nt_training:ntPerson' person.slug %}"><button type="button" class="btn btn-sm label label-primary pull-right">View Record</button></a>
		  		</td>
		  	</tr>
		  {% endfor %}
		 	</tbody>
		</table>
	</div>
</div>
--> 


{% endblock %}

