{% extends 'nt_training/base.html' %}
{% load nt_navbar %}
{% load nt_training_sessions %}
{% block title %}Sessions{% endblock %}

{% block content %}
	<h1 class="text-center">Training Sessions</h1>
	{% if user.is_authenticated %}
		<div class="row mb-2">
			<div class="col-12">
				<a role="button" href="{% url 'nt_training:ntSessionNew' %}" class="btn btn-primary float-right"><i class="fa fa-fw fa-plus"></i> New Training Session</a>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col">
			{% if not sessions %}
				<p class="text-center text-muted"><i class="fa fa-info-circle fa-fw"></i> No training sessions.</p>
			{% else %}
				{% session_cards sessions %}
			{% endif %}
		</div>
	</div>

{% endblock %}