appdirs==1.4.3
dj-database-url==0.4.2
Django==2.2.4
django-debug-toolbar==1.8
django-widget-tweaks==1.4.1
django-widgets-improved==1.5.0
gunicorn==19.6.0
packaging==16.8
psycopg2-binary==2.7.6
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
sqlparse==0.2.3
whitenoise==3.3.0
