			{% load nt_training_sessions %}
			{# Display training sessions as a grid of cards #}
			<div class="row">
				{% for session in sessions %}
					<div class="col-lg-3 col-md-4 col-sm-6 col-12 my-2 ">
						<div class="card" style="height:100%;">
							<div class="card-header text-center bg-secondary p-0">
								<a href="{% url 'nt_training:ntSessionSingle' session.pk %}" class="btn btn-block btn-primary rounded-0">
									<h5>Trainer: <strong>{{ session.trainer }}</strong></h5>
									<span>{{ session.date }}</span>
								</a>
							</div>
							<div class="card-body text-center">
								{% session_meta session as session_info %}
								{% with session_cat_dict=session_info.session_cat_dict session_depts=session_info.session_depts %}
								<p>Training areas:</p>
								{% for dept in session_depts %}
									{% for icon, name in session_cat_dict.items %}
										{% with name=name.0 %}
											{% if name.department == dept %}
												<i class="fa-fw {{ icon }} fa-lg nt-orange" data-toggle="tooltip" data-placement="top" title="{{ name }}" aria-label="{{ name }}"></i>&nbsp;
											{% endif %}
										{% endwith %}
									{% endfor %}
									{% if dept.department_icon %}<span class="float-left"><i class="fa-fw fa-lg nt-purple text-left {{ dept.department_icon }}" data-toggle="tooltip" data-placement="top" title="{{ dept.name }}" aria-label="{{ dept.name }}"></i></span>{% endif %}
									<br />
										<hr>
								{% endfor %}
								{% endwith %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>