// Brand variables

$nt-purple: 						#A54499;
$nt-orange: 						#FFC425;

$nt-purple-dark:				darken($nt-purple, 20%);
$nt-orange-dark:				darken($nt-orange, 20%);

$nt-purple-light:				lighten($nt-purple, 10%);
$nt-orange-light:				lighten($nt-orange, 10%);

$nt-purple-lighter:				lighten($nt-purple, 20%);
$nt-orange-lighter:				lighten($nt-orange, 20%);

